// SECTION current activity :: START

#d-activity.d-activity

  .uk-section.uk-padding-remove-top.uk-padding-remove-bottom.uk-margin-medium-bottom
    .uk-card.uk-card-default.uk-box-shadow-small
      .uk-card-header.uk-flex.uk-flex-middle.uk-flex-between
        .uk-width-1-2.uk-flex.uk-flex-middle.uk-grid-divider(uk-grid)
          h2.uk-margin-remove-bottom.uk-card-title.uk-text-bold!= "Current System Activity"

        .uk-width-1-2.uk-flex.uk-flex-right.uk-flex-middle
          a.uk-button.uk-button-link(href="#" class="" title="")
            span.uk-text-muted(uk-icon='minus')
          a.uk-button.uk-button-link.uk-margin-small-left(href="#" class="" title="")
            span.uk-text-muted(uk-icon='close')

      .uk-card-body

        .d-activity__block
          div.uk-grid-small.uk-child-width-expand.uk-grid-match(uk-grid uk-height-match="target: > div > .uk-card")
            div
              .uk-card.uk-card-default.uk-padding.uk-flex.uk-flex-middle.uk-flex-between
                div
                  i.icon-font.icon-d-activity-accounts
                div
                  p.uk-margin-remove.uk-text-bold!= "70"
                  span.uk-text-bold.uk-text-uppercase!= "Total users"
            div
              .uk-card.uk-card-default.uk-padding.uk-flex.uk-flex-column
                div.uk-flex.uk-flex-middle.uk-margin-small-bottom
                  p.uk-margin-remove.uk-text-bold!= "50"
                  span.uk-margin-small-left.uk-text-uppercase!= "LIVE<br>Users"
                div.uk-flex.uk-flex-middle
                  p.uk-margin-remove.uk-text-bold!= "20"
                  span.uk-margin-small-left.uk-text-uppercase!= "on-demand<br>Users"
            div
              .uk-card.uk-card-default.uk-padding.uk-flex.uk-flex-column
                div.uk-flex.uk-flex-middle.uk-margin-small-bottom
                  p.uk-margin-remove.uk-text-bold!= "35"
                  span.uk-margin-small-left.uk-text-uppercase!= "Registered<br>Users"
                div.uk-flex.uk-flex-middle
                  p.uk-margin-remove.uk-text-bold!= "35"
                  span.uk-margin-small-left.uk-text-uppercase!= "Guest<br>Users"
            div
              .uk-card.uk-card-default.uk-padding.uk-flex.uk-flex-middle.uk-flex-between
                div
                  i.icon-font.icon-d-activity-session
                div
                  p.uk-margin-remove.uk-text-bold!= "22"
                  span.uk-text-bold.uk-text-uppercase!= "LIVE ROOMS"

// SECTION current activity :: END