// SECTION demand content :: START

#d-demand.d-demand

  .uk-section.uk-padding-remove-top.uk-padding-remove-bottom.uk-margin-medium-bottom
    .uk-card.uk-card-default.uk-box-shadow-small
      .uk-card-header.uk-flex.uk-flex-middle.uk-flex-between
        .uk-width-1-2.uk-flex.uk-flex-middle
          h2.uk-margin-remove-bottom.uk-card-title.uk-text-bold!= "On Demand Content"

        .uk-width-1-2.uk-flex.uk-flex-right.uk-flex-middle
          a.uk-button.uk-button-link(href="#" class="" title="")
            span.uk-text-muted(uk-icon='minus')
          a.uk-button.uk-button-link.uk-margin-small-left(href="#" class="" title="")
            span.uk-text-muted(uk-icon='close')

      .uk-card-body

        .d-demand__top

          div
            form
              fieldset.uk-fieldset
                div.uk-flex.uk-flex-middle.uk-flex-between(uk-grid)
                  .uk-width-expand
                    .uk-card.uk-card-body.uk-flex.uk-padding-remove
                      div.uk-margin-medium-right
                        div(uk-form-custom="target: > * > span:first-child")
                          select.uk-select
                            option!= "Connect Installation"
                            option!= "Option 01"
                            option!= "Option 02"
                          button.uk-text-capitalize(class="uk-button uk-button-default uk-flex uk-flex-middle uk-flex-between" type="button" tabindex="-1")
                            span
                            span(uk-icon="icon: chevron-down")
                      div.uk-margin-medium-right
                        div(uk-form-custom="target: > * > span:first-child")
                          select.uk-select
                            option!= "Range"
                            option!= "Option 01"
                            option!= "Option 02"
                          button.uk-text-capitalize(class="uk-button uk-button-default uk-flex uk-flex-middle uk-flex-between" type="button" tabindex="-1")
                            span
                            span(uk-icon="icon: chevron-down")
                      div
                        div(uk-form-custom="target: > * > span:first-child")
                          select.uk-select
                            option!= "User Type"
                            option!= "Option 01"
                            option!= "Option 02"
                          button.uk-text-capitalize(class="uk-button uk-button-default uk-flex uk-flex-middle uk-flex-between" type="button" tabindex="-1")
                            span
                            span(uk-icon="icon: chevron-down")

                  .uk-width-auto
                    .uk-card.uk-card-body.uk-padding-remove.uk-flex.uk-flex-middle.uk-flex-right
                      div
                        div(uk-form-custom="target: > * > span:first-child")
                          select.uk-select
                            option!= "Download Chart"
                            option!= "Option 01"
                            option!= "Option 02"
                          button.uk-text-capitalize(class="uk-button uk-button-default uk-flex uk-flex-middle uk-flex-between uk-background-primary" type="button" tabindex="-1")
                            span
                            span(uk-icon="icon: chevron-down")

        .d-demand__bottom

// SECTION demand content :: END