// SECTION report tabs :: START

#r-tabs.r-tabs

  div.uk-child-width-expand.uk-margin-medium-top.uk-margin-medium-bottom(uk-tab uk-switcher="animation: uk-animation-fade")
    li
      a.uk-text-capitalize(href="#" class="" title="")!= "Meeting Activity"
    li.uk-active
      a.uk-text-capitalize(href="#" class="" title="")!= "Virtual Class Activity"
    li
      a.uk-text-capitalize(href="#" class="" title="")!= "Content Launch Activity"
    li
      a.uk-text-capitalize(href="#" class="" title="")!= "Training Launch Activity"
    li
      a.uk-text-capitalize(href="#" class="" title="")!= "On-Demand Activity"

  .uk-switcher.uk-margin
    li
      span!= "Meeting Activity - CONTENT"
    li
      include ./_report-virtual-class
    li
      span!= "Content Launch Activity - CONTENT"
    li
      span!= "Training Launch Activity - CONTENT"
    li
      span!= "On-Demand Activity - CONTENT"

// SECTION report tabs :: END