// SECTION peak statistics :: START

#d-statistic.d-statistics

  .uk-section.uk-padding-remove-top.uk-padding-remove-bottom.uk-margin-xlarge-bottom
    .uk-card.uk-card-default.uk-box-shadow-small
      .uk-card-header.uk-flex.uk-flex-middle.uk-flex-between
        .uk-width-1-2.uk-flex.uk-flex-middle.uk-grid-divider(uk-grid)
          h2.uk-margin-remove-bottom.uk-card-title.uk-text-bold!= "Peak Statistics"
          h3.uk-margin-remove-bottom.uk-card-title.uk-text-bold.uk-text-muted!= "Top Users"

        .uk-width-1-2.uk-flex.uk-flex-right.uk-flex-middle
          a.uk-button.uk-button-link(href="#" class="" title="")
            span.uk-text-muted(uk-icon='minus')
          a.uk-button.uk-button-link.uk-margin-small-left(href="#" class="" title="")
            span.uk-text-muted(uk-icon='close')

      .uk-card-body

        div.uk-margin-small-bottom
          .uk-grid-small.uk-child-width-expand.uk-grid-match(uk-grid uk-height-match="target: > div > .uk-card")
            div.uk-width-auto
              .uk-card.uk-card-default.uk-card-body.uk-padding-small
                div.uk-flex.uk-flex-middle.uk-margin-large-bottom
                  span.uk-margin-small-right(uk-icon='cog')
                  p.uk-margin-remove.uk-text-large.uk-text-bold!= "PEAK INSTALL"
                div
                  h2.uk-margin-remove.uk-text-bold.uk-text-uppercase!= "INSTALL<br>NAME"
                  button.uk-text-uppercase(class="uk-button uk-button-link")!= "GOES HERE"
            div.uk-width-expand
              div(class="uk-child-width-1-2 uk-grid-small" uk-grid uk-height-match="target: > div > .uk-card; row: false")
                div(class="uk-first-column")
                  div(class="uk-card uk-card-default uk-card-body uk-padding-small")
                    div.uk-flex.uk-flex-middle.uk-margin-medium-bottom
                      span.uk-margin-small-right(uk-icon='calendar')
                      p.uk-margin-remove.uk-text-large.uk-text-bold!= "PEAK DAY"
                    div
                      h2.uk-text-bold.uk-text-uppercase.uk-text-center.uk-margin-large-bottom!= "wednesday"
                div()
                  div.uk-flex.uk-flex-between.uk-flex-column(class="uk-card uk-card-default uk-card-body uk-padding-small")
                    div.uk-flex.uk-flex-middle.uk-margin-medium-bottom
                      span.uk-margin-small-right(uk-icon='users')
                      p.uk-margin-remove.uk-text-large.uk-text-bold!= "PEAK ATTENDEES"
                    div.uk-margin-medium-bottom
                      h2.uk-margin-remove.uk-flex.uk-flex-middle.uk-flex-center.uk-text-bold.uk-text-uppercase.uk-text-center!= "86 <span uk-icon='arrow-up'></span>"
                    div.uk-flex.uk-flex-middle
                      .uk-width-1-3
                        p.uk-text-bold.uk-margin-remove!= "70"
                        span!= "This month"
                      .uk-width-1-3.uk-text-center
                        p.uk-text-bold.uk-margin-remove!= "17"
                        span!= "This week"
                      .uk-width-1-3.uk-text-right
                        p.uk-text-bold.uk-margin-remove!= "4"
                        span!= "Today"
                div(class="uk-grid-margin uk-first-column")
                  div(class="uk-card uk-card-default uk-card-body uk-padding-small")
                    div.uk-flex.uk-flex-middle.uk-margin-medium-bottom
                      span.uk-margin-small-right(uk-icon='calendar')
                      p.uk-margin-remove.uk-text-large.uk-text-bold!= "BUSIEST DAY OF THE WEEK"
                    div
                      h2.uk-text-bold.uk-text-uppercase.uk-text-center.uk-margin-large-bottom!= "tuesday"
                div(class="uk-grid-margin")
                  div.uk-flex.uk-flex-between.uk-flex-column(class="uk-card uk-card-default uk-card-body uk-padding-small")
                    div.uk-flex.uk-flex-middle.uk-margin-medium-bottom
                      span.uk-margin-small-right(uk-icon='clock')
                      p.uk-margin-remove.uk-text-large.uk-text-bold!= "BUSIEST TIME OF DAY"
                    div.uk-margin-medium-bottom
                      h2.uk-margin-remove.uk-text-bold.uk-text-uppercase.uk-text-center!= "12:45 PM"
                      span.uk-flex.uk-flex-center.uk-text-center!= "This month"
                    div.uk-flex.uk-flex-middle
                      .uk-width-1-2
                        p.uk-text-bold.uk-margin-remove!= "2:11 PM"
                        span!= "This week"
                      .uk-width-1-2.uk-text-right
                        p.uk-text-bold.uk-margin-remove!= "12:01 PM"
                        span!= "Today"

        div.uk-flex.uk-flex-middle.uk-flex-right
          a(href="" class="uk-icon-link" uk-icon="question")



// SECTION peak statistics :: END