// HEADER :: START

header#header.header
  .header__wrapper
    .header__wrapper-left

      +logotype('header', '', 'img-logotype', 'png')

      a(href="#" class="" title="" btn-collapseHide-js)!= "<"

    .header__wrapper-middle
      div
        a.header__collapse(href="#" class="" title="" btn-collapse-js)
          div
            i
            i
            i
          span!= "Collapse"

      div
        .header__date
          p!= "<span>12:00</span> PM"
          span
          p!= "Dec 10, 2018"

    .header__wrapper-right

      .header__dCenter
        p!= "Data Centers:"
        div
          a(href="#" class="" title="")
            i.icon-png.i-data-center-gb
          a(href="#" class="" title="")
            i.icon-png.i-data-center-us
          a(href="#" class="" title="")
            i.icon-png.i-data-center-es
          a(href="#" class="" title="")
            i.icon-png.i-data-center-ch

// HEADER :: END