// HEADER :: START

header#header.header
  .header__wrapper.uk-flex.uk-flex-middle
    .header__wrapper-left.uk-flex.uk-flex-middle.uk-flex-center

      +logotype('header', '', 'img-logotype', 'png')

      a(href="#" class="" title="" btn-collapseHide-js)!= "<"

    .header__wrapper-middle.uk-flex.uk-flex-middle
      div
        a.header__collapse.uk-flex.uk-flex-middle.uk-flex-center(href="#" class="" title="" btn-collapse-js)
          div
            i
            i
            i
          span!= "Collapse"

      div.uk-flex.uk-flex-middle.uk-flex-between
        .header__search.uk-flex

          if(pageSubClassName !== 'p-dashboard-main')

            form.uk-flex.uk-flex-middle(action="" autocomplete='off' class="uk-search uk-search-large")
              span(uk-search-icon)
              input(class="uk-search-input" type="search" placeholder="Search...")

        .header__date.uk-flex.uk-flex-middle.uk-flex-right
          p!= "<span>12:00</span> PM"
          span
          p!= "Dec 10, 2018"

    .header__wrapper-right.uk-flex.uk-flex-middle

      .header__dCenter.uk-flex.uk-flex-middle
        p!= "Data Centers:"
        div.uk-flex.uk-flex-middle
          a.uk-flex.uk-flex-top(href="#" class="" title="")
            +iconSVG('UK')
          a.uk-flex.uk-flex-top(href="#" class="" title="")
            +iconSVG('US')
          a.uk-flex.uk-flex-top(href="#" class="" title="")
            +iconSVG('USe')
          a.uk-flex.uk-flex-top(href="#" class="" title="")
            +iconSVG('CH')

// HEADER :: END