// SECTION sidebar :: START

mixin sidebarNavBtn(classMod, iconBool, iconName, btnName)
  a.sidebar__navigation-btn.uk-flex.uk-flex-middle(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div.uk-flex.uk-flex-center
      if(iconBool)
        span(uk-icon= iconName)
      else
        i.icon-font(class!= iconName)
    div
      p!= btnName
    if(classMod !== 'internal')
      div.uk-flex.uk-flex-middle.uk-flex-center

mixin sidebarNavAccordionBtn(classMod, iconBool, iconName, btnName)
  a.uk-accordion-title.sidebar__navigation-btn.uk-flex.uk-flex-middle(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div.uk-flex.uk-flex-center
      if(iconBool)
        span(uk-icon= iconName)
      else
        i.icon-font(class!= iconName)
    div
      p!= btnName
    div.uk-flex.uk-flex-middle.uk-flex-center
      span(uk-icon='chevron-down')


section#sidebar.sidebar
  .sidebar__scroll
    .sidebar__wrapper

      .sidebar__profile.uk-flex.uk-flex-middle
        .sidebar__profile-left
          .sidebar__profile-img
            img(src="./img/img-user.jpg" srcset="./img/img-user@2x.jpg 2x" alt="" title="")

        .sidebar__profile-right
          p.sidebar__profile-name!= "Randah McKinnie"

      .sidebar__navigation.uk-flex.uk-flex-column
        +sidebarNavBtn('external', true, 'thumbnails', 'Dashboard')
        +sidebarNavBtn('external', false, 'icon-account', 'Account')

        //ul(uk-accordion="multiple: true")
        //  li
        //    +sidebarNavAccordionBtn('external', false, 'icon-account', 'Account')
        //    .uk-accordion-content.uk-flex.uk-flex-column.uk-margin-remove-top
        //      +sidebarNavBtn('internal', '', false, 'Account action 1')
        //      +sidebarNavBtn('internal', '', false, 'Account action 2')
        //      +sidebarNavBtn('internal', '', false, 'Account action 3')

        +sidebarNavBtn('external', false, 'icon-support', 'Tech Support')

        ul(uk-accordion="multiple: true")
          li
            +sidebarNavAccordionBtn('external', false, 'icon-monitors', 'Monitors')
            .uk-accordion-content.uk-flex.uk-flex-column.uk-margin-remove-top
              +sidebarNavBtn('internal', '', false, 'Monitors action 1')
              +sidebarNavBtn('internal', '', false, 'Monitors action 2')
              +sidebarNavBtn('internal', '', false, 'Monitors action 3')
          li
            +sidebarNavAccordionBtn('external', false, 'icon-reports', 'Reports')
            .uk-accordion-content.uk-flex.uk-flex-column.uk-margin-remove-top
              +sidebarNavBtn('internal', '', false, 'Status')
              +sidebarNavBtn('internal', '', false, 'Metrics')
              +sidebarNavBtn('internal', '', false, 'Activity')

        +sidebarNavBtn('external', true, 'cog', 'Settings')
        +sidebarNavBtn('external', true, 'sign-out', 'Logout')


    .sidebar__footer
      .sidebar__footer-top.uk-flex.uk-flex-center.uk-flex-middle
        a.sidebar__footer-btn.uk-flex.uk-flex-middle.uk-flex-center.uk-border-circle(href="#" class="" title="")
          span(uk-icon="facebook")
        a.sidebar__footer-btn.uk-flex.uk-flex-middle.uk-flex-center.uk-border-circle(href="#" class="" title="")
          span(uk-icon="twitter")
        a.sidebar__footer-btn.uk-flex.uk-flex-middle.uk-flex-center.uk-border-circle(href="#" class="" title="")
          span(uk-icon="linkedin")

      .sidebar__footer-bottom
        a.sidebar__footer-link.uk-flex.uk-flex-middle.uk-margin-small-bottom.uk-margin-medium-left(href="#" class="" title="")
          p.uk-margin-remove!= "CoSo Insights"
          span(uk-icon="chevron-right")
        a.sidebar__footer-link.uk-flex.uk-flex-middle.uk-margin-medium-bottom.uk-margin-medium-left(href="#" class="" title="")
          p.uk-margin-remove!= "CoSoCloud"
          span(uk-icon="chevron-right")

        span.uk-margin-medium-left!= "Copyright © 2018 Connect Solutions"

// SECTION sidebar :: END