// SECTION sidebar :: START

mixin sidebarNavBtn(classMod, iconName, btnName)
  a.sidebar__navigation-btn(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div
      span(uk-icon= iconName)
    div
      p!= btnName
    if(classMod !== 'internal')
      div

mixin sidebarNavAccordionBtn(classMod, iconName, btnName)
  a.uk-accordion-title.sidebar__navigation-btn(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div
      span(uk-icon= iconName)
    div
      p!= btnName
    div
      span(uk-icon='chevron-down')


section#sidebar.sidebar
  .sidebar__wrapper

    .sidebar__profile
      .sidebar__profile-left
        .sidebar__profile-img
          img(src="./img/img-user.jpg" srcset="./img/img-user@2x.jpg 2x" alt="" title="")

      .sidebar__profile-right
        p.sidebar__profile-name!= "Randah McKinnie"

    .sidebar__navigation
      +sidebarNavBtn('external', 'thumbnails', 'Dashboard')
      +sidebarNavBtn('external', 'users', 'Account')
      +sidebarNavBtn('external', 'receiver', 'Tech Support')

      ul(uk-accordion="multiple: true")
        li
          +sidebarNavAccordionBtn('external', 'world', 'Monitors')
          .uk-accordion-content
            +sidebarNavBtn('internal', '', 'Meeting Activity')
            +sidebarNavBtn('internal', '', 'Virtual Class Activity')
            +sidebarNavBtn('internal', '', 'Content Launch Activity')
            +sidebarNavBtn('internal', '', 'Training Launch Activity')
            +sidebarNavBtn('internal', '', 'On-Demand Activity')
        li
          +sidebarNavAccordionBtn('external', 'file-text', 'Reports')
          .uk-accordion-content
            +sidebarNavBtn('internal', '', 'Meeting Activity')
            +sidebarNavBtn('internal', '', 'Virtual Class Activity')
            +sidebarNavBtn('internal', '', 'Content Launch Activity')
            +sidebarNavBtn('internal', '', 'Training Launch Activity')
            +sidebarNavBtn('internal', '', 'On-Demand Activity')

      +sidebarNavBtn('external', 'cog', 'Settings')
      +sidebarNavBtn('external', 'sign-out', 'Logout')

// SECTION sidebar :: END