// SECTION sidebar :: START

mixin sidebarNavBtn(classMod, iconBool, iconName, btnName)
  a.sidebar__navigation-btn(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div
      if(iconBool)
        span(uk-icon= iconName)
      else
        i.icon-font(class!= iconName)
    div
      p!= btnName
    if(classMod !== 'internal')
      div

mixin sidebarNavAccordionBtn(classMod, iconBool, iconName, btnName)
  a.uk-accordion-title.sidebar__navigation-btn(
    href="#"
    class="sidebar__navigation-btn--" + classMod
    title=""
  )
    div
      if(iconBool)
        span(uk-icon= iconName)
      else
        i.icon-font(class!= iconName)
    div
      p!= btnName
    div
      span(uk-icon='chevron-down')


section#sidebar.sidebar
  .sidebar__wrapper

    .sidebar__profile
      .sidebar__profile-left
        .sidebar__profile-img
          img(src="./img/img-user.jpg" srcset="./img/img-user@2x.jpg 2x" alt="" title="")

      .sidebar__profile-right
        p.sidebar__profile-name!= "Randah McKinnie"

    .sidebar__navigation
      +sidebarNavBtn('external', true, 'thumbnails', 'Dashboard')

      ul(uk-accordion="multiple: true")
        li
          +sidebarNavAccordionBtn('external', false, 'icon-account', 'Account')
          .uk-accordion-content
            +sidebarNavBtn('internal', '', false, 'Account action 1')
            +sidebarNavBtn('internal', '', false, 'Account action 2')
            +sidebarNavBtn('internal', '', false, 'Account action 3')

      +sidebarNavBtn('external', false, 'icon-support', 'Tech Support')

      ul(uk-accordion="multiple: true")
        li
          +sidebarNavAccordionBtn('external', false, 'icon-monitors', 'Monitors')
          .uk-accordion-content
            +sidebarNavBtn('internal', '', false, 'Monitors action 1')
            +sidebarNavBtn('internal', '', false, 'Monitors action 2')
            +sidebarNavBtn('internal', '', false, 'Monitors action 3')
        li
          +sidebarNavAccordionBtn('external', false, 'icon-reports', 'Reports')
          .uk-accordion-content
            +sidebarNavBtn('internal', '', false, 'Status')
            +sidebarNavBtn('internal', '', false, 'Metrics')
            +sidebarNavBtn('internal', '', false, 'Activity')

      +sidebarNavBtn('external', true, 'cog', 'Settings')
      +sidebarNavBtn('external', true, 'sign-out', 'Logout')

// SECTION sidebar :: END